{% extends 'base.html' %}
{% load static %}
{% load jalali_tags %}

{% block page_title %}

    Contact_Us
    
{% endblock %}


{% block content %}
    <!-- Page Title -->
    <div class="page-title dark-background" style="background-image: url({% static 'img/page-title-bg.jpg' %});">
      <div class="container position-relative">
        <h1>تماس با ما</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{% url 'home' %}">صفحه اصلی</a></li>
            <li class="current">تماس با ما</li>
          </ol>
        </nav>
      </div>
    </div>
    <!-- End Page Title -->
<section id="contact" class="contact section">


      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-6">
            <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-geo-alt"></i>
              <h3>آدرس</h3>
              <p>تهران - خیابان ولیعصر - خیابان جام جم

                سازمان صدا و سیمای جمهوری اسلامی ایران</p>
            </div>
          </div><!-- End Info Item -->

          <div class="col-lg-3 col-md-6">
            <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-telephone"></i>
              <h3>تماس با ما</h3>
              <p>200600000</p>
            </div>
          </div><!-- End Info Item -->

          <div class="col-lg-3 col-md-6">
            <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-envelope"></i>
              <h3>پست الکترونیکی ما</h3>
              <p>info@example.com</p>
            </div>
          </div><!-- End Info Item -->

        </div>

        <div class="row gy-4 mt-1">
{#          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">#}
{#            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d48389.78314118045!2d-74.006138!3d40.710059!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a22a3bda30d%3A0xb89d1fe6bc499443!2sDowntown%20Conference%20Center!5e0!3m2!1sen!2sus!4v1676961268712!5m2!1sen!2sus" frameborder="0" style="border:0; width: 100%; height: 400px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>#}
{#          </div><!-- End Google Maps -->#}

          <div class="col-lg-6">
            <form action="" method="post" id="contact_form" class="php-email-form" data-aos="fade-up" data-aos-delay="400">
             {% csrf_token %}
              <div class="row gy-4">

                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" placeholder="نام" required>
                </div>

                <div class="col-md-6">
                  <input type="text" class="form-control" name="email" placeholder="پست الکترونیکی" required>
                </div>

                <div>
                  <input type="text" class="form-control" name="subject" placeholder="موضوع" required>
                </div>

                <div>
                  <textarea class="form-control" name="message" rows="6" placeholder="پیام" required></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">در حال بارگزاری</div>
                  <div class="error-message"></div>
                  <div class="sent-message">پیام شما با موفقیت ثبت شد</div>

                  <button type="submit">ارسال پیام</button>
                </div>

              </div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>
</section>

{% endblock %}

{% block js %}
    <script>
    //jQuery
        $(document).ready(function (){
            {#console.log("DOM IS READY")#}
            const formElm = $("#contact_form")
            const errorBox = $(".error-message")
            const sentBox = $(".sent-message")
            formElm.submit(function (e){
                e.preventDefault()
                {#console.log("Form Submission start ...")#}

                sentBox.css("display",'none')
                errorBox.css("display",'none')

                $('.loading').css('display','block')

                const formData = formElm.serialize();
                {#console.log(formData)#}

                // Ajax
                $.ajax({
                    type:'POST',
                    url:"{% url 'contact_us' %}",
                    data: formData,
                    success:function (response){
                        $('.loading').css('display','none')
                        {#console.log('Server Response :' ,response.status)#}
                        if(response.status === 'ok'){
                            sentBox.css('display','block')
                            formElm[0].reset()
                        } else if (response.error){
                            {#console.log(errorBox)#}
                            {#console.log(response.error)#}
                            errorBox.text(response.error)
                            errorBox.css('display','block')
                        }

                    },
                    error:function (xhr,status,error){
                        console.error('Error :',error)
                    }
                });

            })
        })
    </script>
{% endblock %}