{% extends 'base.html' %}

{% load static %}

{% block page_title %}

    History_Us

{% endblock %}


{% block content %}
    <!-- Page Title -->
    <div class="page-title dark-background" style="background-image: url({% static 'img/page-title-bg.jpg' %});">
        <div class="container position-relative">
            <h1>تاریخچه ما</h1>
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="{% url 'home' %}">صفحه اصلی</a></li>
                    <li class="current">تاریخچه ما</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- End Page Title -->

    <!-- About Section -->
    <section id="about" class="about section">

        <div class="container">

            <div class="row position-relative">

                <div class="col-lg-7 about-img" data-aos="zoom-out" data-aos-delay="200"><img
                        src="/static/img/about.jpg" alt="درباره ما"></div>
                {% for history in history %}
                    <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
                        <h2 class="inner-title">لورم ایپسوم متن ساختگی با تولید سادگی</h2>
                        <div class="our-story">
                            <h4>از سال 1372</h4>
                            <h3>تاریخچه ما</h3>
                            <p class="text-muted">
                                {{ history.body }}
                            </p>
                            <ul>
                                <li><i class="bi bi-{{ history.icon_name }}"></i> <span>{{ history.title }}</span></li>
                                <li><i class="bi bi-{{ history.icon_name }}"></i> <span>{{ history.title }}</span></li>
                                <li><i class="bi bi-{{ history.icon_name }}"></i> <span>{{ history.title }}</span></li>
                            </ul>
                            <p>
                                {{ history.description }}
                            </p>

                            <div class="watch-video d-flex align-items-center position-relative">
                                <i class="bi bi-play-circle"></i>
                                <a href="#" class="glightbox stretched-link">تماشا کنید</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>

    </section><!-- /About Section -->

    <!-- Stats Counter Section -->
    <section id="stats-counter" class="stats-counter section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>آمار</h2>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
        </div><!-- End Section Title -->

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row gy-4">

                <div class="col-lg-3 col-md-6">
                    <div class="stats-item d-flex align-items-center w-100 h-100">
                        <i class="bi bi-emoji-smile color-blue flex-shrink-0"></i>
                        <div>
                            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1"
                                  class="purecounter"></span>
                            <p>رضایت مشتریان</p>
                        </div>
                    </div>
                </div><!-- End Stats Item -->

                <div class="col-lg-3 col-md-6">
                    <div class="stats-item d-flex align-items-center w-100 h-100">
                        <i class="bi bi-journal-richtext color-orange flex-shrink-0"></i>
                        <div>
                            <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1"
                                  class="purecounter"></span>
                            <p>پروژه ها</p>
                        </div>
                    </div>
                </div><!-- End Stats Item -->

                <div class="col-lg-3 col-md-6">
                    <div class="stats-item d-flex align-items-center w-100 h-100">
                        <i class="bi bi-headset color-green flex-shrink-0"></i>
                        <div>
                            <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1"
                                  class="purecounter"></span>
                            <p>ساعات پشتیبانی</p>
                        </div>
                    </div>
                </div><!-- End Stats Item -->

                <div class="col-lg-3 col-md-6">
                    <div class="stats-item d-flex align-items-center w-100 h-100">
                        <i class="bi bi-people color-pink flex-shrink-0"></i>
                        <div>
                            <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1"
                                  class="purecounter"></span>
                            <p>نیروهای تخصصی</p>
                        </div>
                    </div>
                </div><!-- End Stats Item -->

            </div>

        </div>

    </section><!-- /Stats Counter Section -->

    <!-- Alt Services Section -->
    <section id="alt-services" class="alt-services section">
        <div class="container">
            <div class="row justify-content-around gy-4">
                <div class="features-image col-lg-6" data-aos="fade-up" data-aos-delay="100"><img
                        src="/static/img/alt-services.jpg" alt=""></div>

                <div class="col-lg-5 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                    <h3>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</h3>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>

                    {% for servicesfeatures in servicesfeatures %}
                        <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">
                            <i class="bi bi-{{ servicesfeatures.icon_name }} flex-shrink-0"></i>
                            <div>
                                <h4><a href="" class="stretched-link">{{ servicesfeatures.title }}</a></h4>
                                <p>{{ servicesfeatures.description }}</p>
                            </div>
                        </div><!-- End Icon Box -->

                    {% endfor %}
                </div>
            </div>

        </div>

    </section><!-- /Alt Services Section -->

    <!-- Alt Services 2 Section -->
    <section id="alt-services-2" class="alt-services-2 section">
        <div class="container">
            <div class="row justify-content-around gy-4">
                <div class="col-lg-6 d-flex flex-column justify-content-center order-2 order-lg-1" data-aos="fade-up"
                     data-aos-delay="{{ services.delay_time }}">
                    <h3>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</h3>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
                        چاپگرها و متون بلکه روزنامه</p>

                    <div class="row">
                        {% for servicesfeature in servicesfeatures %}
                            <div class="col-lg-6 icon-box d-flex">
                                <i class="bi bi-{{ servicesfeature.icon_name }} flex-shrink-0"></i>
                                <div>
                                    <h4>{{ servicesfeature.title }}</h4>
                                    <p>{{ servicesfeature.description }}</p>
                                </div>
                            </div><!-- End Icon Box -->
                        {% endfor %}
                    </div>

                </div>

                <div class="features-image col-lg-5 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="200">
                    <img src="/static/img/features-3-2.jpg" alt="">
                </div>

            </div>
        </div>
    </section><!-- /Alt Services 2 Section -->

    <!-- Team Section -->
    <section id="team" class="team section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>تیم تخصصی انبوه سازان</h2>
            <p>
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
            </p>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="row gy-5">

{% for team in team %}
                <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="100">
                    <div class="member-img">
                        <img src="{{ team.main_picture.url }}" class="img-fluid" alt="{{ team.name_alt }}">
                        <div class="social">
                            <a href="#"><i class="bi bi-twitter-x"></i></a>
                            <a href="#"><i class="bi bi-facebook"></i></a>
                            <a href="#"><i class="bi bi-instagram"></i></a>
                            <a href="#"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info text-center">
                        <h4>{{ team.title }}</h4>
                        <span>{{ team.name_title }}</span>
                        <p>{{ team.description }}</p>
                    </div>
                </div><!-- End Team Member -->
{% endfor %}

            </div>

        </div>

    </section><!-- /Team Section -->

    <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>نظر مشتریان ما</h2>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
        </div><!-- End Section Title -->

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="swiper init-swiper">
                <script type="application/json" class="swiper-config">
                    {
                      "loop": true,
                      "speed": 600,
                      "autoplay": {
                        "delay": 5000
                      },
                      "slidesPerView": "auto",
                      "pagination": {
                        "el": ".swiper-pagination",
                        "type": "bullets",
                        "clickable": true
                      },
                      "breakpoints": {
                        "320": {
                          "slidesPerView": 1,
                          "spaceBetween": 40
                        },
                        "1200": {
                          "slidesPerView": 2,
                          "spaceBetween": 20
                        }
                      }
                    }
                </script>
                <div class="swiper-wrapper">
                    {% for swiper in swiper %}

                        <div class="swiper-slide">
                            <div class="testimonial-wrap">
                                <div class="testimonial-item">
                                    <img src="{{ swiper.main_image.url }}" class="testimonial-img"
                                         alt="{{ swiper.name_of_alt }}">
                                    <h3>{{ swiper.name_swiper }}</h3>
                                    <h4>{{ swiper.job_swiper }}</h4>
                                    <div class="stars">
                                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                            class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                            class="bi bi-star-fill"></i>
                                    </div>
                                    <p>
                                        <i class="bi bi-quote quote-icon-left"></i>
                                        <span>{{ swiper.description_swiper }}</span>
                                        <i class="bi bi-quote quote-icon-right"></i>
                                    </p>
                                </div>
                            </div>
                        </div><!-- End testimonial item -->

                    {% endfor %}
                </div><!-- End testimonial item -->

            </div>
            <div class="swiper-pagination"></div>
        </div>

    </section><!-- /Testimonials Section -->

{% endblock %}