{% extends 'base.html' %}
{% load static %}
{% load jalali_tags %}

{% block page_title %}
    {{ project }}
{% endblock %}

{% block content %}
    <!-- Page Title -->
    <div class="page-title dark-background" style="background-image: url({% static 'img/page-title-bg.jpg' %});">
        <div class="container position-relative">
            <h1>جزئیات پروژه</h1>
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="{% url 'home' %}">صفحه اصلی</a></li>
                    <li><a href="{% url 'projects' %}"> پروژه ها</a></li>
                    <li class="current">{{ project }}</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- End Page Title -->
    <!-- Project Details Section -->
    <section id="project-details" class="project-details section">
        <div class="container" data-aos="fade-up">
            <div class="portfolio-details-slider swiper init-swiper">
                <script type="application/json" class="swiper-config">
                    {
                      "loop": true,
                      "speed": 600,
                      "autoplay": {
                        "delay": 5000
                      },
                      "slidesPerView": "auto",
                      "navigation": {
                        "nextEl": ".swiper-button-next",
                        "prevEl": ".swiper-button-prev"
                      },
                      "pagination": {
                        "el": ".swiper-pagination",
                        "type": "bullets",
                        "clickable": true
                      }
                    }
                </script>
                <div class="swiper-wrapper align-items-center">
                    {% for project in project.images.all %}
                        <div class="swiper-slide">
                            <img src="{{ project.image_path.url }}" class="img-fluid" alt="{{ project.name_alt }}">
                        </div>
                    {% endfor %}
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
                <div class="swiper-pagination"></div>
            </div>
            <div class="row justify-content-between gy-4 mt-4">
                <div class="col-lg-8" data-aos="fade-up">
                    <div class="portfolio-description">
                        <h2>{{ project }}</h2>
                        <p>{{ project.body }}</p>
                        <p>{{ project.description }}</p>
                        <div class="testimonial-item">
                            <p>
                                <i class="bi bi-quote quote-icon-left"></i>
                                <span>{{ project.summary }}</span>
                                <i class="bi bi-quote quote-icon-right"></i>
                            </p>
                            <div>
{#                                <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">#}
                                <img src="{{ project.image_profile.url }}" class="testimonial-img" alt="{{ project.name_alt }}">
                                <h3>{{ project.author }}</h3>
                                <h4>{{ project.project_type }}</h4>


                            </div>
                        </div>
                        <p>{{ project.content }}</p>
                        <p>{{ project.explanation }}</p>
                    </div>
                </div>
                <div class="col-lg-3" data-aos="fade-up" data-aos-delay="100">
                    <div class="portfolio-info">
                        <h3>اطلاعات پروژه</h3>
                        <ul>
                            <li class="d-block"><i class="bi bi-eye-fill text-warning fa-lg"></i><span id="view_count">{{ project.views }}</span></li>
                            <li><strong>دسته بندی :</strong>{{ project.category }}</li>
                            <li><strong>مشتری :</strong>{{ project.customer }}</li>
                            <li><strong>تاریخ انجام پروژه :</strong>{{ project.project_date|to_jalali:'%H:%M:%S | %Y/%m/%d' }}</li>
                            <li><strong>آدرس پروژه :</strong> <a href="#">{{ project.project_web_address }}</a></li>
                            <li><a href="https://loremsaz.com/lorem_ipsum" class="btn-visit align-self-start">مشاهده وب
                                سایت</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- /Project Details Section -->
{% endblock %}

{% block js %}
    <script src="{% static 'vendor/jquery/jquery-3.7.1.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            {#console.log("Dom Dom")#}
            {#$("#view_count").text("Darya is clever development")#}
            const viewSpanElm = $('#view_count')
            {#viewSpanElm.text('Darya is a DEVELOPER')#}

            function getCSRToken() {
                {#GET CSRF token from cookie#}
                const cookieValue = document.cookie
                    .split('; ')
                    .find(row => row.startsWith('csrftoken='))
                    ?.split('=')[1];

                if (!cookieValue) {
                    console.error('CSRF token not found in cookies');
                    return null;
                }
                return cookieValue;
            }
            $.ajax({
                url: "{% url 'increment-views' %}",
                type: "POST",
                data: {
                    model_type: "project",
                    object_id: "{{ project.id }}",
                    csrfmiddlewaretoken: getCSRToken()
                },
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    if (data.status === 'ok') {
                        viewSpanElm.text(data.views + 'بازدید ');
                    } else {
                        console.log("Error");
                    }
                },
                error: function (xhr, status, error) {
                    console.error("AJAX Error:", error);
                }
            });
        })
    </script>
{% endblock %}


